* {
    box-sizing: border-box;
  }
body{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(29, 126, 92);
    margin: 50px;   
}

.column {
    float: left;
    width: 25%;
  }




  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }